    .index {
        text-align: center;
        background-color: $primaryColor;
        .image {
            box-shadow: inset 0 0 8em black;
            @include border-radius(10px);
            max-width: 400px;
            margin: 30px auto;
        }
    }
    
    .lagrille {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
    }